{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
     <div class="example-wrapper">
        <h1>Menu</h1>
        {% for productCategoria in productCategories %}
            <h3>{{ productCategoria.getCategoryName() }}</h3>
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>Product Name</th>
                    <th>Product price</th>
                    <th>Action</th>
                </tr>
                {% for product in products %}
                    {% if product.getProductsCategories().getId() is same as (productCategoria.getId()) %}
                    <tr>
                        <td>
                            {{ product.getProductName() }}
                        </td>
                        <td>
                            {{ product.getPrice() }}
                        </td>
                        <td>
                            <a href="{{ path('app_basket', { 'action': 'add' }) }}?product_id={{ product.getId() }}">Add to basket</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}
